@media print {
    body * {
      visibility: hidden;
    }
    .label-print-area, .label-print-area * {
      visibility: visible;
    }
    .label-print-area {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @media print {
    @page {
      size: A4;
      margin: 10mm;
    }
  }
   